body {
  color: #EEEEEE;
  background: #121212;
}

a {
  color: #9A9A9A;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

ul {
  padding-inline-start: 20px
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  background: #282828;
}

.nav-item {
  padding: 1%;
}

.main-container {
  padding: 5%;
}